button.re {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 20%;
}

button.re:hover {
    background-color:green;
}


#uy {
    list-style-type: none;
    padding: 0;
    width: 50ch;
}

#fd{
    display: flex;
    justify-content: center;
}

.fg {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fg:nth-child(even) {
    background-color: #f2f2f2;
}
.ruvi{
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    
}

#footerButtons {
    display: flex;
    justify-content: center;
}
.button:hover {
    cursor: pointer;
}
.button {
    margin: 5px;
}
footer {
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
}

footer p {
    margin: 0;
}